{% load staticfiles %}
<html>
    <head>
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'bootstrap.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="{% static 'wedding/static/font-awesome/css/font-awesome.min.css' %}" type="text/css">
        
        <title>{{ head_title }}</title>
    </head>
    <section class="bg-info" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Welcome!</h2>
                    <hr>
                    <p>
                        Hello friends and family! It's the week of the wedding!
                    </p>
                    <p>
                        If you're looking for information about the event, look no further!
                        Please see below for all the details regarding <a href="#event" class="page-scroll">Friday night's welcome party</a> and <a href="#saturday-event" class="page-scroll">Saturday's event</a>.
                    </p>
                    <p>
                        To get added to the wedding whatsapp group first create an account and then send an
                        email to <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
                        Also, the current front-runner for the wedding hashtag (if you're into that sort of thing) is #getlukky.
                    </p>
                    <p>
                        Looking forward to seeing everyone soon!
                    </p>
                    <p class="pull-right">- Cory and Rowena</p>
                </div>
            </div>
        </div>
    </section>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <body>
        <h1>{{ page_title }}</h1>
        <p>{{ page_body }}</p>
    </body>
</html>