{% extends 'base.html' %}
{% load staticfiles %}
{% block page_head %}
    <link href="{% static 'wedding/css/rsvp.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}

        <form data-toggle="validator" id="rsvp-details" class="form-horizontal" method="post">
            <h2 id="rsvp-header" class="text-center">RSVP</h2>
            <div class="clearfix"></div>
            {{ form.as_p }}
            {% csrf_token %}
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Submit Response" />
                </div>
            </div>
        </form>
{% endblock %}
