{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}
{% block page_head %}
    <link href="{% static 'wedding/css/rsvp.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap-4.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <h2 id="rsvp-header">RSVP</h2>
            <hr />
            <form data-toggle="validator" id="rsvp-details" method="post" role="form" class="form-vertical">
                {% csrf_token %}
                {{ form|bootstrap}}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value={% trans "Submit" %} />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

