{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}
{% block page_head %}
    <link href="{% static 'wedding/css/rsvp.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap-4.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
{% if sent %}
<section id="wedding-party" style="background-color:cornflowerblue;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">{% trans "Thank you! Your confirmation has been successfully sent" %} :)</h2>
                <hr class="primary">
                <a class="text-center" style="color:rgb(194, 240, 30);" href="/#">{% trans "Go back to home page" %}</a>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="container">
    <div class="row">
        <div class="span12">
            <h2 id="rsvp-header">{% trans "RSVP" %}</h2>
            <hr />
            <form data-toggle="validator" id="rsvp-details" method="post" role="form" class="form-vertical">
                {% csrf_token %}
                {{ form|bootstrap}}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value={% trans "Send confirmation" %} />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

