{% extends 'base.html' %}
{% load staticfiles %}
{% block page_head %}
    <link href="{% static 'wedding/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="layer"></div>
    <div class="container" id="main">
        <h2>Hi! Thanks for your response!</h2>
        {% if event.any_guests_attending %}
            <p>
                We can't wait to celebrate with you!
            </p>
            <p>
                If you have any other questions, don't hesitate to email us at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
            </p>
        {% else %}
            <p>
                We're sorry you won't be able to join us on our wedding day :(
            </p>
            <p>
                We look forward to catching up with you some other time!
            </p>
        {% endif %}
        <p>
            - Justyna & Łukasz
        </p>
    </div>
{% endblock %}
