{% extends "layout.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}


{% block page_head %}
<!-- Bootstrap Core CSS -->
<link href="{% static 'bootstrap-4.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom Fonts -->
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'external/lockdownform.css' %}" type="text/css" /> 
{% endblock %}

{% block content %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">{% trans "Confirm password" %}</h5>
              <div class="form-label-group">
                  {% if form %}
                  <form id="Login" action="" method="post">{% csrf_token %}
                        {{ form|bootstrap }}
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value='{% trans "Submit" %}'/>
                      </form>
                  {% endif %}
              </div>
              <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}

{% block js %}
  <script src="{% static 'bootstrap-4.0.0/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}