{% load i18n %}
    
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load staticfiles %} {% include 'material/includes/material_css.html' %}
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}"> {% block page_head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" /> {% block css %}{% endblock %}

    <style>
            a.underline:visited, a.underline:link {text-decoration: none;}
            a.underline:hover, a.underline:active {text-decoration: underline;}
    </style>
</head>

<body>
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="../photos" class="brand-logo">{% trans "Wedding gallery"%} <img src="{%  static 'favicon.ico' %}" width="30" height="30" alt=""></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="../photos">{% trans "Albums folder" %}</a>
                </li>
            </ul>

            <ul id="nav-mobile" class="sidenav" style="transform: translateX(-105%);">
                <li>
                    <a href="../photos">{% trans "Albums folder" %}</a>
                </li>
            </ul>
            <a href="../photos" data-target="nav-mobile" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright free
                <a class="grey-text text-lighten-4 right" href="#">Created by Justyna&Lukasz</a>
            </div>
        </div>
    </footer>

    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->
    {% include 'material/includes/material_js.html' %}
    <script src="{% static 'app.js' %}"></script> {% block js %}{% endblock %}
</body>

</html>