{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="slider">
    <ul class="slides">
        <li>
            <img src="{% static 'images/all.jpg' %}" alt="Wedding gallery" class="opaque">
            <div class="caption left-align">
                <h1 style="transform: translateY(-120%); height:180%;">
                    <small class="light text-lighten-3 hide-on-small-only">{% trans "Thank you for being a part of our wedding day 27.10.2018! :)" %}</small>
                </h1>
                
            </div>
        </li>
        <li>
            <img src="{% static 'images/family.jpg' %}" alt="Wedding gallery" class="opaque" style="height:200%;">
            <div class="caption left-align">
                <h1>
                    <!-- <small class="light text-lighten-3 hide-on-small-only">{% trans "Be invited to view our wedding photos :)" %}</small> -->
                </h1>
            </div>
        </li>
        <li>
            <img src="{% static 'images/oczepiny.jpg' %}" alt="Wedding gallery" class="opaque" style="height:160%;">
            <div class="caption right-align">
                <h1>
                    <!-- <small class="light text-lighten-3 hide-on-small-only">{% trans "Merry Christmas! :)" %}</small> -->
                </h1>
            </div>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        {% for album in albums %}

        <div class="col">
            <div class="card dpg-album-card">
                <div class="card-image">
                    <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="dpg-album-card-image" />
                </div>
                <div class="card-content">
                    <span class="card-title">{{ album.title }}</span>
                    <!-- <p>{{ album.description|truncatechars:120 }}</p> -->
                </div>
                <div class="card-action">
                    <a href="{% url 'album' album.slug %}">
                        {% trans "More Images" %} 
                    </a>
                    <a href="photos/download/{{ album.slug }}">
                        <p style="color:blue; font-size:10px;">{% trans "Download the album" %} 
                            <img src="{% static 'images/download.png' %}" alt="Download album" style="width:20px;height:20px;border:0;"></p>
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row">
        <a href="photos/download/all">
            {% trans "Download all the albums" %}
            <img src="{% static 'images/download.png' %}" alt="Download all the albums" style="width:30px;height:30px;border:0;">
        </a>
    </div>
</div>

<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}