{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="slider">
    <ul class="slides">
        <li>
            <img src="{% static 'images/rsz_all.jpg' %}" class="img-fluid" alt="Wedding gallery" class="opaque">
            <div class="caption left-align">
                <h1 style="transform: translateY(-80%); height:120%;">
                    <small class="light text-lighten-3 hide-on-small-only">{% trans "Thank you for being a part of our wedding day 27.10.2018! :)" %}</small>
                </h1>
            </div>
        </li>
        <li>
            <img src="{% static 'images/rsz_family.jpg' %}" class="img-fluid" alt="Wedding gallery" class="opaque" style="height:200%;">
            <div class="caption left-align">
                <h1>
                    <!-- <small class="light text-lighten-3 hide-on-small-only">{% trans "Be invited to view our wedding photos :)" %}</small> -->
                </h1>
            </div>
        </li>
        <li>
            <img src="{% static 'images/rsz_oczepiny.jpg' %}" class="img-fluid" alt="Wedding gallery" class="opaque" style="height:160%;">
            <div class="caption right-align">
                <h1>
                    <!-- <small class="light text-lighten-3 hide-on-small-only">{% trans "Merry Christmas! :)" %}</small> -->
                </h1>
            </div>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        {% for album in albums %}

        <div class="col">
            <div class="card dpg-album-card">
                <div class="card-image">
                    <a href="{% url 'album' album.slug %}">
                        <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="dpg-album-card-image" />
                    </a>
                </div>
                <div class="card-content">
                    <a href="{% url 'album' album.slug %}" class="underline">
                        <span class="card-title">{{ album.title }}</span>
                    <!-- <p>{{ album.description|truncatechars:120 }}</p> -->
                    </a>
                </div>
                <hr/>
                <div class="card-content">
                    <!--<a href="{% url 'album' album.slug %}">
                        {% trans "More Images" %} 
                    </a> -->
                    <a href="photos/download/{{ album.slug }}" class="underline">
                        <p style="color:blue;"> {% trans "Download the album" %}
                            <img src="{% static 'images/download.png' %}" alt="Download album" style="width:20px;height:20px;border:1;">
                        </p>
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row">

        <a href="photos/download/all" class="underline">
            {% trans "Download all the albums" %}
            <img src="{% static 'images/download.png' %}" alt="Download all the albums" style="width:30px;height:30px;border:1;">
        </a>
    </div>
</div>

<hr>

<div class="container">
        <div class="row">
            <a href="https://mega.nz/#!HK51RAqI!x9vkgYzsMufYBi-m8phIRyO2rCb39OLTChrz5DRwlvg" class="underline">
                {% trans "Click here to download all the photos with highest resolution" %}
                <img src="{% static 'images/download.png' %}" alt="Download all the albums" style="width:30px;height:30px;border:1;">
            </a>
            <p style="color:red; font-size: 90%">{% trans "Password" %} {% trans ": christmas2018" %} </p>
        </div>
    </div>
<hr>

<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}