{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'wedding/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-expand-lg">
    <a class="navbar-brand" href="#page-top">{% trans "Justyna & Łukasz's wedding website" %} <img src="{%  static 'favicon.ico' %}" width="30" height="30" alt=""></a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">{% trans "Home" %} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#wedding-ceremony">{% trans "Wedding infos" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="rsvp">{% trans "Confirm" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ourstory">{% trans "Our story" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">{% trans "Contact" %}</a>
            </li>
        </ul>
    </div>
</nav>



    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1></h1>
            </div>
        </div>
    </header>
    <section class="bg-info" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center welcome">
                    <h2 class="section-heading">{% trans "Welcome!" %}</h2>
                    <hr>
                    <p>
                        {% trans "Hello dear friends. That's great you visited our wedding page."  %}
                    </p>
                    <p>
                        {% trans "You will find here all the information concerning our"  %} <a href="#wedding-ceremony" class="page-scroll">{% trans "wedding day" %}</a>.
                    </p>
                    <p>
                        {% trans "To confirm your presence at our wedding party, please contact with us or fill the " %}<a href="rsvp">{% trans "confirmation form" %}</a>.
                    </p>
                    <p>
                        {% trans "Looking forward to seeing everyone on 27.10.2018" %}
                    </p>
                    <p class="pull-right"> Justyna & Łukasz</p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="wedding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6 text-center" style="background-color:khaki;">
                    <a href="#wedding-ceremony" class="portfolio-box page-scroll">
                        <img src="{% static 'wedding/images/church.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {% trans "Wedding ceremony" %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="background-color:cornflowerblue;">
                    <a href="#wedding-party" class="portfolio-box page-scroll">
                        <img src="{% static 'wedding/images/champagne.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {% trans "Wedding party" %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="background-color:rgb(88, 146, 88);">
                    <a href="#ourstory" class="portfolio-box page-scroll">
                        <img src="{% static 'wedding/images/relationship.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {% trans "Our story" %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
        {% include 'partials/event.html' %}
    <section id="ourstory" style="background-color:rgb(88, 146, 88);">
        {% include 'partials/ourstory.html' %}
    </section>
    <section id="contact" class="bg-secondary">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-center">{% trans "Contact us!" %}</h2>
                <hr class="primary">
                <p>{% trans "If you have any questions, feel free to contact us"  %} :)</p>
            </div>
            <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-6 text-right"> <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i> </div>
                    <div class="col-sm-6 text-left"> <i class="fa fa-phone-square fa-3x wow bounceIn" data-wow-delay=".1s"></i> </div>
            </div>
            </div>
            <div class="container-fluid">
                {% for person in contact_info %}
                <div class="row">
                    <div class="col-sm-4 text-center" style="color:tomato; font-size: 20px;"><a></a>{{ person.name }}:</a></div>
                    <div class="col-sm-4 text-center" style="font-size: 20px;"><a href="mailto:{{ contact_mail }}">{{ person.email }}</a></div>
                    <div class="col-sm-4 text-center" style="color:tomato; font-size: 20px;"><a>{{ person.phone }}</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>